<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Perfis</title>
</head>
<body>
<p><a th:href="@{'/logout'}">Logout</a></p>


<h1>Perfis</h1>
<div th:if="${!account.getProfiles().isEmpty()}">
    <ul>
        <li th:each="profile : ${account.getProfiles()}" >
            <a th:text="${profile.name}" th:href="@{'/profile/' + ${profile.getId()}}">[[${profile.name}]]</a>

        </li>
    </ul>
</div>
<div th:unless="${!account.getProfiles().isEmpty()}">
    <p>Não há perfis registrados.</p>
</div>
<a th:if="${account.getProfiles().size()!=4}" th:href="@{'/profiles/register-profile'}">Registre novo perfil</a>

</body>
</html>
